
.header__lang-link{
  color:#FFFFFF;
  width: 30px;
  line-height: 1.75rem;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  margin-top: auto;
  transition: opacity 0.5s;


  
}


.header__lang-link:last-child{
  margin-left: 18px;

}

.header__lang-link:hover{
  opacity: .8;
}




@media screen and (max-width: 768px){
  .header__lang-link{
    font-size: 1.125rem;
    line-height: 1.25rem;
    margin-top: 14px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px){
  .header__lang-link{
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 18px;
    margin-bottom: 6px;
  }
}


/*@media screen and (max-width: 768px) {
    .header__link-element {
        
    }
}

@media screen and (min-width: 768px) {
    .header__link-element {
        
    }
}*/