.place__title{
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  margin: 0;

  
  

}

@media screen and (max-width: 320px) {
  .place-container__title {
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    width: 288px;
    
  }
}
@media screen and (min-width: 320px){
  .place__title{
    font-size: 2rem;

  }
}


@media screen and (max-width: 768px) {
  .place-container__title {
    line-height: 2.1875rem;
  }
}

@media screen and (min-width: 768px){
  .place__title{
    font-size: 2.625rem;
    line-height: 2.875rem;

  }
}

@media screen and (min-width: 1024px){
  .place__title{
    font-size: 4.5rem;
    line-height: 4.75rem;


  }
