.places{
  max-width: 984px;
  margin: auto;
  margin-top: 92px;
}

@media screen and (min-width: 320px) and (max-width: 425px){
  .places{
    width: 320px;

  }
}

@media screen and (min-width: 425px) and (max-width: 768px){
  .places{
    max-width: 720px;
    margin-top: 88px;
    /*margin: auto;
    border: 1px solid red;*/

  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .places{
    width: 720px;
    margin-top: 88px;

  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .places{
    width: 928px;
    margin-top: 92px;

  }
}
