.intro__list{
  max-width: 690px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-style: normal;
  list-style: none;
  font-size:  0.75rem;
  line-height: 1.125rem;
  color: #FFFFFF;
  margin-top: 33px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0;
  margin-right: 0;
  padding-left: 0;

}



@media screen and (max-width: 768px){
  .intro__list{
    margin-top:34px;
  }
}

@media screen and (min-width: 768px){
  .intro__list{
    max-width: 720px;
    width: 720px;
    margin-right: auto;
    margin-left: auto;

  }
}

@media screen and (min-width: 1024px){
  .intro__list{
    max-width: 690px;
    margin-right: 0;
    margin-left: 0;

  }
}
