.lead{
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
 
}


@media screen and (min-width: 320px) and (max-width: 425px){
  .lead{
    width: 100%;
    margin: 0;
    margin-top: 48px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px){
  .lead{
    max-width: 768px;
    margin: 0;
    margin-top: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .lead{
    margin: 0;
    margin-top: 48px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .lead{
    width: 928px;
    margin: 0;
    margin: auto;
    margin-top: 48px;

  }
}
@media screen and (min-width: 1280px) {
  .lead{
    margin-top: 56px;
  }
}


