.cover__subtitle{
  max-width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin: auto;
  margin-top: 429px;
  text-align: center;
  color: #FFFFFF;
  grid-column: 1/4;
  grid-row: 1/4;
  z-index: 3;
  font-family: 'Inter'; 
}

  .cover:hover .cover__subtitle{
  text-shadow: 0 -2px 0 #000000,
  0 -2px 0 #000000,
  0 2px 0 #000000,
  0 2px 0 #000000,
  -2px 0 0 #000000,
  2px 0 0 #000000,
  -2px 0 0 #000000,
  2px 0 0 #000000,
  -1px -2px 0 #000000,
  1px -2px 0 #000000,
  -1px 2px 0 #000000,
  -2px -1px 0 #000000,
  -2px -1px 0 #000000,
  2px -1px 0 #000000,
  -2px 1px 0 #000000,
  2px 1px 0 #000000,
  -2px -2px 0 #000000,
  2px -2px 0 #000000,
  -2px 2px 0 #000000,
  2px 2px 0 #000000;
}
@media screen and (min-width: 320px) and (max-width: 425px){
  .cover__subtitle{
    width: 288px;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    margin:auto;
    margin-top: 119px;

    
  } 
}

@media screen and (min-width: 425px) and (max-width: 768px){
  .cover__subtitle{
    width: 360px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    margin:auto;
    margin-top: 379px;

    
  }  
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .cover__subtitle{
    width: 360px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    margin:auto;
    margin-top: 299px;

    
  }  
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .cover__subtitle{
    width: 360px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    margin:auto;
    margin-top: 379px;

    
  } 
}