.header{
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 28px;
}


@media screen and (max-width: 425px){
  .header{
    width: 288px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (min-width: 425px){
  .header{
    margin-left: 24px;
    margin-right: 24px;
  }
}



@media screen and (min-width: 1024px){
  .header{
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media screen and (min-width: 1280px){
  .header{
    width: 1184px;
    margin-right: auto;
    margin-left: auto;

  }
}
