.footer__container {
  display: flex;
  list-style: none;
  height: fit-content;
}

@media screen and (max-width: 768px) {
  .footer__container {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
  }
}