.footer__link{
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  margin: 0;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  transition: opacity 0.5s;

  
}

.footer__link:hover{
  opacity: .8;
}




@media screen and (max-width: 768px) {
  .footer__link {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 32px;
  }
  .footer__link:last-child{
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 1rem;
    line-height: 1.125rem;
    margin-right: 18px;
    margin-bottom: 0;
  }
  .footer__link:last-child{
    margin-right: 0;
  }
}

