.place__paragraph{
  /*margin: 0;*/
  font-style: normal;
  font-weight: normal;
  line-height: 163%;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif; 
  

}
.place__paragraph:first-of-type{
  margin-top: 0;
}

@media screen and (max-width: 425px){
  .place__paragraph{
    width: 288px;
    margin-right: 16px;
    margin-left: 16px;
  }
  
}

@media screen and (min-width: 425px){
  .place__paragraph{
    width: 352px;
  }
}

@media screen and (max-width: 1024px){
  .place__paragraph{
    margin-top: 25px;
    font-size: 1rem;
  }

}
@media screen and (min-width: 1024px){
  .place__paragraph{
    margin-top: 27px;
    font-size: 1.125rem;
    width: 456px;
  }

}
@media screen and (min-width: 1280px){
  .place__paragraph{
    width: 484px;
  }
}