.intro__text{
  max-width: 690px;
  font-size: 1rem;
  line-height: 163%;
  font-weight: normal;
  color: #FFFFFF;
  margin: 0;
  margin-top: 40px;
  font-family: 'Inter'; 

}

@media screen and (min-width: 320px) and (max-width: 425px){
  .intro__text{
    width: 288px;
    font-size: 16px;
    line-height: 163%;
    margin: auto;
    margin-top: 40px;

  }
}

@media screen and (min-width: 425px) and (max-width: 768px){
  .intro__text{
    max-width: 720px;
    font-size: 16px;
    line-height: 163%;
    margin-top: 40px;

  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .intro__text{
    width: 720px;
    font-size: 16px;
    line-height: 163%;
    margin: auto;
    margin-top: 40px;

  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
    .intro__text{
    width: 690px;
    font-size: 16px;
    line-height: 163%;
    margin: 0;
    margin-top: 40px;

  }
}
