.intro__text{
  font-size: 1rem;
  line-height: 163%;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  margin-bottom: 0;
  margin-top: 40px;
  font-family: 'Inter', sans-serif; 

}



@media screen and (min-width: 768px){
  .intro__text{
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;

  }
}

@media screen and (min-width: 1024px){
  .intro__text{
    max-width: 690px;
    margin-right: 0;
    margin-left: 0;


  }
}
