.lead__subtitle{
  max-width: 640px;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: normal;
  margin: auto;
  margin-top: 32px;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Inter'; 

}



@media screen and (min-width: 320px) and (max-width: 425px){
  .lead__subtitle{
    width: 288px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

  }
}

@media screen and (min-width: 425px) and (max-width: 768px){
  .lead__subtitle{
    width: 640px;
    font-size: 30px;
    line-height: 36px;
    margin-top: 32px;
    text-align: center;

  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .lead__subtitle{
    width: 640px;
    font-size: 30px;
    line-height: 36px;
    margin-top: 32px;
    text-align: center;

  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .lead__subtitle{
    width: 640px;
    font-size: 30px;
    line-height: 36px;
    margin-top: 32px;
    text-align: center;

  }
}
