
.cover{
  max-width: 100%;
  display: flex;
  align-items: stretch;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background: url(../../images/cover-trains.jpg) no-repeat center center;


}

@media screen and (max-width: 425px){
  .cover{
    min-height: 200px;
    margin-top: 66px;
  }  
}

@media screen and (min-width: 425px){
  .cover{
    min-height: 320px;
    margin-top: 66px;
  }  
}

@media screen and (min-width: 768px){
  .cover{
    min-height: 480px;
    margin-top: 90px;
  }
 
}

@media screen and (min-width: 1024px){
  .cover{
    min-height: 640px;
    margin-top: 92px;
  } 
}

@media screen and (min-width: 1280px){
  .cover{
    width: 1184px;
    min-height: 740px;
  }
}