.place__link{
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-top: 50px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 0;
  font-family: 'Inter' sans-serif; 
}


.place__link:hover{
  animation: getIn 1s ease-in-out 0s;
  animation-fill-mode: forwards;
}

@keyframes getIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes getOut {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
