.place__link:hover{
  opacity: 0.8;
  text-decoration: none;

}

.place__link{
  width: 456px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-top: 50px;
  text-decoration-line: underline;
  color: #FFFFFF;
  font-family: 'Inter'; 
}

@media screen and (min-width: 320px) and (max-width: 425px){
  .place__link{
    width: 288px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px){
  .place__link{
    width: 456px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .place__link{
    width: 456px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .place__link{
    width: 456px;
    font-size: 18px;
    line-height: 22px;
  }
}
