.cover__overlay {
  width: 100%;
  background: rgba(42, 44, 47, 0.3);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__overlay:hover {
  animation: turnOn .5s ease-in-out 0s;
  animation-fill-mode: forwards;
}

@keyframes turnOn {
  from {
    background: rgba(42, 44, 47, 0.3);
  }
  to {
    background: rgba(42, 44, 47, 0.8);
  }
}
