.cover__overlay {
  width: 100%;
  background: rgba(42, 44, 47, 0.4);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__overlay:hover {
  animation: turnOn 2s ease-in-out 1s;
  animation-fill-mode: forwards;
}

@keyframes turnOn {
  from {
    background: rgba(42, 44, 47, 0.4);
  }
  to {
    background: rgba(42, 44, 47, 0.9);
  }
}

@keyframes turnOff {
  from {
    background: rgba(42, 44, 47, 0.9);
  }
  to {
    background: rgba(42, 44, 47, 0.4);
  }
}