.lead__caption{
  max-width: 160px;
  font-size: 0.625rem;
  line-height: 0.875rem;
  font-weight: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 8px;
  color: #FFFFFF;
  font-family: 'Inter'; 
}

@media screen and (min-width: 320px) and (max-width: 425px){
  .lead__caption{
    width: 160px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px){
  .lead__caption{
    width: 160px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    margin-left: 24px;
    margin-top: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .lead__caption{
    width: 160px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    margin-left: 24px;
    margin-top: 8px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .lead__caption{
    width: 160px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    margin: 0;
    margin-top: 8px;
  }
}
