.lead__caption{
  font-size: 0.625rem;
  line-height: 0.875rem;
  font-weight: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  

}


@media screen and (max-width: 768px){
  .lead__caption{
    margin-left: 16px;

  }
}
@media screen and (min-width: 768px){
  .lead__caption{
    margin-left: 24px;
  }
}

@media screen and (min-width: 1024px){
  .lead__caption{
    margin-left: 0;
  }
}
