 .cover__title{
  font-family: 'Inter', sans-serif; 
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  
}



@media screen and (max-width: 768px){
  .cover__title{
    width: 288px;
    font-size: 2rem;
    line-height: 2.1875rem;
  }  
}

@media screen and (min-width: 768px){
  .cover__title{
    width: 560px;
    font-size: 4.5rem;
    line-height: 4.75rem;

  }

}

