 .cover__title{
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.75rem;
  text-align: center;
  margin: auto;
  margin-top: 245px;
  color: #FFFFFF;
  grid-column: 1/4;
  grid-row: 1/4;
  z-index: 4;
  text-decoration: none;
  opacity: 1;
  font-family: 'Inter'; 
}

.cover:hover .cover__title{
  text-shadow: 0 -2px 0 #000000,
  0 -2px 0 #000000,
  0 2px 0 #000000,
  0 2px 0 #000000,
  -2px 0 0 #000000,
  2px 0 0 #000000,
  -2px 0 0 #000000,
  2px 0 0 #000000,
  -1px -2px 0 #000000,
  1px -2px 0 #000000,
  -1px 2px 0 #000000,
  -2px -1px 0 #000000,
  -2px -1px 0 #000000,
  2px -1px 0 #000000,
  -2px 1px 0 #000000,
  2px 1px 0 #000000,
  -2px -2px 0 #000000,
  2px -2px 0 #000000,
  -2px 2px 0 #000000,
  2px 2px 0 #000000;
}
 

@media screen and (min-width: 320px) and (max-width: 425px){
  .cover__title{
    width: 288px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    margin: 0;
    margin:auto;
    margin-top: 33px;



  }

}

@media screen and (min-width: 425px) and (max-width: 768px){
 .cover__title{
    width: 288px;
    font-weight: 900;
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    margin:auto;
    margin-top: 115px;



  }
  
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .cover__title{
    width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0;
    margin:auto;
    margin-top: 115px;



  }

}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .cover__title{

    width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0;
    margin:auto;
    margin-top: 195px;



  }  
}