.place{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  list-style: none;
}
.place:last-child{
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .place{
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .place{
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .place{
    margin-bottom: 73px;
  }
}


@media screen and (min-width: 1024px) {
  .place{
    margin-bottom: 80px;
  }
}