.place{
  max-width: 984px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin: auto;
  margin-bottom: 80px;
}

@media screen and (min-width: 320px) and (max-width: 425px){
  .place{
    width: 320px;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .place:nth-child(5){
    margin-bottom: 0;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px){
  .place{
    max-width: 720px;
    margin-bottom: 73px;
    }
  .place:nth-child(5){
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .place{
    width: 720px;
    margin-bottom: 73px;
    }
  .place:nth-child(5){
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .place{
    width: 928px;
    margin-bottom: 80px;
    }
  .place:nth-child(5){
    margin-bottom: 0;
  }
}
