.footer{
  max-width: 92.5%;
  margin: auto;
  margin-top: 92px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (min-width: 320px) and (max-width: 425px){
  .footer{
    width: 186px;
    margin: 0;
    margin-top: 64px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
  } 
}

@media screen and (min-width: 425px) and (max-width: 768px){
  .footer{
    margin: 0;
    margin-top: 64px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    justify-content: left;
    
  }  
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .footer{
    min-width: 720px;
    margin-top: 88px;
    margin-bottom: 24px;
  } 
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .footer{
    min-width: 928px;
    margin-top: 92px;
    margin-bottom: 24px;
  } 
}
@media screen and (min-width: 1280px) {
  .footer{
    width: 1184px;
    }
}