.footer{
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  
}


@media screen and (max-width: 768px){
  .footer{
    margin-top: 64px;
    margin-left: 16px;
    margin-right: 16px;
    flex-direction: column;
    justify-content: left;
    
  }  
}

@media screen and (min-width: 768px){
  .footer{
    justify-content: space-between;
    flex-direction: row;
    margin-top: 88px;
    margin-left: 24px;
    margin-right: 24px;
  } 
}

@media screen and (min-width: 1024px){
  .footer{
    margin-top: 92px;
    margin-left: 48px;
    margin-right: 48px;
  } 
}
@media screen and (min-width: 1280px) {
  .footer{
    width: 1184px;
    margin-left: auto;
    margin-right: auto;
  }
}