.intro__title{
  font-weight: 900;
  font-style: normal;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  margin: 0;
  
}



@media screen and (max-width: 768px){
  .intro__title{
    font-size: 2rem;
    line-height: 2.1875rem;

  }
}

@media screen and (min-width: 768px){
  .intro__title{
    width: 720px;
    margin-right: auto;
    margin-left: auto;
    font-size: 3.375rem;
    line-height: 3.625rem;

  }
}

@media screen and (min-width: 1024px){
  .intro__title{
    max-width: 690px;
    margin-right: 0;
    margin-left: 0;

  }
}
